<a href="https://colab.research.google.com/github/berilldindar/OkCupidProfilesTextMining/blob/main/OKCupid_CleaningData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/drive')
%cd /drive

Mounted at /drive
/drive

In [ ]:
import os
os.chdir('/drive/My Drive/Text Mining')

In [ ]:
## Veri analizi için pandas ve numpy kullanıyoruz.
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('okcupid_profiles.csv')

In [ ]:
## Sayfamızın ilk 10 sütununa baktığımızda dataframeleri karşılaştırıyoruz.
df.iloc[:,0:10].head()

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity
0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white"
1,35,single,m,straight,average,mostly other,often,sometimes,working on space camp,white
2,38,available,m,straight,thin,anything,socially,NaN,graduated from masters program,NaN
3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,white
4,29,single,m,straight,athletic,NaN,socially,never,graduated from college/university,"asian, black, other"

In [ ]:
# Etnik kökenler için veri bütünlüğü sağlıyoruz
## Son olarak, gelir durumu için '-1'i değiştirmemiz gerekiyor
## "NaN'ler" ile değerler.
df.iloc[:,10:20].head()

,height,income,job,last_online,location,offspring,pets,religion,sign,smokes
0,75.0,-1,transportation,2012-06-28-20-30,"south san francisco, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism and very serious about it,gemini,sometimes
1,70.0,80000,hospitality / travel,2012-06-29-21-41,"oakland, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism but not too serious about it,cancer,no
2,68.0,-1,NaN,2012-06-27-09-10,"san francisco, california",NaN,has cats,NaN,pisces but it doesn&rsquo;t matter,no
3,71.0,20000,student,2012-06-28-14-22,"berkeley, california",doesn't want kids,likes cats,NaN,pisces,no
4,66.0,-1,artistic / musical / writer,2012-06-27-21-26,"san francisco, california",NaN,likes dogs and likes cats,NaN,aquarius,no

In [ ]:
#Sadece temizlememiz gereken kısmı alıyoruz
df.iloc[:,20:].head()

,speaks,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
0,english,about me: i would love to think that i was so...,currently working as an international agent fo...,making people laugh. ranting about a good salt...,"the way i look. i am a six foot half asian, ha...","books: absurdistan, the republic, of mice and ...",food. water. cell phone. shelter.,duality and humorous things,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet! you are ti...
1,"english (fluently), spanish (poorly), french (...",i am a chef: this is what that means. 1. i am ...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,i am die hard christopher moore fan. i don't r...,delicious porkness in all of its glories. my b...,NaN,NaN,i am very open and will share just about anyth...,NaN
2,"english, french, c++","i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,okay this is where the cultural matrix gets so...,movement conversation creation contemplation t...,NaN,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ..."
3,"english, german (poorly)",i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,"bataille, celine, beckett. . . lynch, jarmusch...",NaN,cats and german philosophy,NaN,NaN,you feel so inclined.
4,english,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at: http://bagsbrown....,i smile a lot and my inquisitive nature,"music: bands, rappers, musicians at the moment...",NaN,NaN,NaN,NaN,NaN

In [ ]:
#etnik köken, boy ve gelir konusundaki yanıtları karşılaştırıyoruz.
space_camp = df[df['education'].str.contains("space camp")==True]
space_camp = space_camp[['education', 'ethnicity', 'height', 'income']]
space_camp.head(20)

                     education                ethnicity  height   income
1        working on space camp                    white    70.0    80000
18   graduated from space camp                    white    71.0       -1
48   dropped out of space camp                      NaN    67.0  1000000
72   graduated from space camp   native american, white    73.0   150000
96   dropped out of space camp                    white    75.0       -1
102      working on space camp                    white    69.0  1000000
118      working on space camp             white, other    65.0       -1
122  graduated from space camp                    white    66.0       -1
123      working on space camp  hispanic / latin, white    70.0  1000000
128  dropped out of space camp                    white    71.0       -1
131      working on space camp                    white    68.0       -1
160                 space camp                    asian    62.0       -1
216  graduated from space camp                    white    70.0  1000000
223      working on space camp                    white    63.0       -1
290      working on space camp                    white    76.0    20000
350  graduated from space camp                    white    67.0       -1
361  graduated from space camp                    white    69.0       -1
409  graduated from space camp                    white    72.0   150000
430  dropped out of space camp                    other    71.0       -1
442  graduated from space camp                      NaN    71.0       -1

In [ ]:
## Alanla ilişkili kullanıcılara bakarız. 
## gelir durumu $262607,76 olarak çıkıyor
space_camp_income = space_camp['income']
space_camp_income = space_camp[space_camp_income != -1]
print("Average income for users associated with space camp:",
      ('%.2f' % space_camp_income['income'].mean()))

Average income for users associated with space camp: 262607.76

In [ ]:
## Üniversitenin gelirini kontrol edelim
## mezunlarla karşılaştırmak için

masters_income = df[df['education'].str.contains('graduated from college/university')==True]
masters_income = masters_income[masters_income != -1]

print("Average income for users with masters:",
      ('%.2f' % masters_income['income'].mean()))

Average income for users with masters: 106695.94

In [ ]:
all_income = df[['income']]
all_income.loc[all_income.income != -1].mean()

income    104394.993046
dtype: float64

In [ ]:
## İlişkili kullanıcılar için maaş verilerinin kaldırılması
## uzay kampı ve '-1' değerlerinin değiştirilmesi  "NaN'ler" değerler ile

df.income = df['income'].mask(df.education.str.contains('space camp', na=False))
df[['education', 'income']].loc[df.education.str.contains('space camp', na=False)].head()

                    education  income
1       working on space camp     NaN
18  graduated from space camp     NaN
48  dropped out of space camp     NaN
72  graduated from space camp     NaN
96  dropped out of space camp     NaN

In [ ]:
## HTML sonlarını ve HTML satır sonlarını temizleme
## boşluklarla değiştirerek temizleriz

df['essay0'] = df['essay0'].str.replace('<br />', ' ')
df['essay0'] = df['essay0'].str.replace('\n', ' ')
df['essay1'] = df['essay1'].str.replace('<br />', ' ')
df['essay1'] = df['essay1'].str.replace('\n', ' ')
df['essay2'] = df['essay2'].str.replace('<br />', ' ')
df['essay2'] = df['essay2'].str.replace('\n', ' ')
df['essay3'] = df['essay3'].str.replace('<br />', ' ')
df['essay3'] = df['essay3'].str.replace('\n', ' ')
df['essay4'] = df['essay4'].str.replace('<br />', ' ')
df['essay4'] = df['essay4'].str.replace('\n', ' ')
df['essay5'] = df['essay5'].str.replace('<br />', ' ')
df['essay5'] = df['essay5'].str.replace('\n', ' ')
df['essay6'] = df['essay6'].str.replace('<br />', ' ')
df['essay6'] = df['essay6'].str.replace('\n', ' ')
df['essay7'] = df['essay7'].str.replace('<br />', ' ')
df['essay7'] = df['essay7'].str.replace('\n', ' ')
df['essay8'] = df['essay8'].str.replace('<br />', ' ')
df['essay8'] = df['essay8'].str.replace('\n', ' ')
df['essay9'] = df['essay9'].str.replace('<br />', ' ')
df['essay9'] = df['essay9'].str.replace('\n', ' ')

df[['essay0']].iloc[0,0]

"about me:  i would love to think that i was some some kind of intellectual: either the dumbest smart guy, or the smartest dumb guy. can't say i can tell the difference. i love to talk about ideas and concepts. i forge odd metaphors instead of reciting cliches. like the simularities between a friend of mine's house and an underwater salt mine. my favorite word is salt by the way (weird choice i know). to me most things in life are better as metaphors. i seek to make myself a little better everyday, in some productively lazy way. got tired of tying my shoes. considered hiring a five year old, but would probably have to tie both of our shoes... decided to only wear leather shoes dress shoes.  about you:  you love to have really serious, really deep conversations about really silly stuff. you have to be willing to snap me out of a light hearted rant with a kiss. you don't have to be funny, but you have to be able to make me laugh. you should be able to bend spoons with your mind, and telepathically make me smile while i am still at work. you should love life, and be cool with just letting the wind blow. extra points for reading all this and guessing my favorite video game (no hints given yet). and lastly you have a good attention span."

In [ ]:
## Ayrı olan kullanıcıların boy uzunluklarını değiştirme toplamlarından 5inin ortalaması
## cdc.gov'a göre, ortalama boy uzunluğu kadınlar ve erkekler için 63.8 ve 69.3 inç
## ortalama standart boy uzunluğu 66,55 inç.
## sapma 3,00 inçtir. Böylece, kullanacağımız 51,55 ila 81,55 inç arasındaki boy uzunluğu ile değiştiririz
## geri kalanı "NaN's" ile değiştiririz

df['height']=df['height'].mask(df.height <= 51.55)
df['height']=df['height'].mask(df.height >= 81.55)

In [ ]:
df[['ethnicity', 'income', 'height']].loc[df['ethnicity'].str.len() >= 40].head(25)

                                              ethnicity     income  height
112     black, native american, hispanic / latin, other       -1.0    74.0
113            black, native american, hispanic / latin    20000.0    66.0
150   asian, middle eastern, black, native american,...       -1.0    63.0
458            native american, hispanic / latin, white    30000.0    64.0
722   black, native american, hispanic / latin, whit...    50000.0    70.0
894   asian, middle eastern, black, native american,...    20000.0    65.0
1174  asian, black, native american, pacific islande...       -1.0    64.0
1262  asian, middle eastern, black, native american,...       -1.0    72.0
1615  asian, middle eastern, black, native american,...       -1.0    69.0
1703           native american, hispanic / latin, white  1000000.0    69.0
1713           native american, hispanic / latin, white       -1.0    70.0
1890          pacific islander, hispanic / latin, white       -1.0    64.0
2027    black, native american, hispanic / latin, white    30000.0    72.0
2179  asian, black, native american, hispanic / lati...    20000.0    62.0
2219  asian, black, native american, pacific islande...       -1.0    69.0
2260  asian, middle eastern, black, native american,...    30000.0    68.0
2383           black, native american, hispanic / latin    40000.0    72.0
2392  asian, native american, hispanic / latin, whit...    20000.0    72.0
2411          pacific islander, hispanic / latin, white       -1.0    62.0
2584          asian, pacific islander, hispanic / latin       -1.0    57.0
2778  asian, middle eastern, black, native american,...       -1.0    68.0
2785    native american, hispanic / latin, white, other       -1.0    72.0
2914           native american, hispanic / latin, white       -1.0    63.0
3221          pacific islander, hispanic / latin, white       -1.0    67.0
3483   pacific islander, hispanic / latin, white, other       -1.0    69.0

In [ ]:
## Kullanıcıların ortalama gelirini bulmak için
## 3'ten fazla etnik köken

## Gelirleri diğerlerine kıyasla iki katından fazla
## Önceki mantığımızı takip ederek, uzunluktan fazlasına sahip olanlar için geliri kaldırın
## 3 etnik köken

df[['ethnicity', 'income', 'height']].loc[df['ethnicity'].str.len() >= 40].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

income    63223.714597
height       68.385417
dtype: float64

In [ ]:
## Kullanıcı gelirini 3'ten fazla ile değiştirme
## "NaN's" için etnik köken

df['income']=df['income'].mask(df.ethnicity.str.len() >= 40)
df[['ethnicity','income']].loc[df['ethnicity'].str.len() >= 40].head()

                                             ethnicity  income
112    black, native american, hispanic / latin, other     NaN
113           black, native american, hispanic / latin     NaN
150  asian, middle eastern, black, native american,...     NaN
458           native american, hispanic / latin, white     NaN
722  black, native american, hispanic / latin, whit...     NaN

In [ ]:
## şimdi kullanıcılar üzerinde görselleştirme yapalım
## Cinsiyete göre boy için 3 karşılaştırma yaparız

## cdc.gov'dan alınan ABD verilerine göre, ortalama boy uzunluğu kadın için 63.8 inç ve erkek için 69.3 inç
df[['ethnicity', 'sex', 'height']].loc[(df.ethnicity.str.len() >= 40)].groupby('sex').mean().reset_index()

  sex     height
0   f  64.834286
1   m  70.422951

In [ ]:
## tırnak içinde biçimlendirme hatalarını temizleriz
df[['offspring']].head()

                                offspring
0  doesn't have kids, but might want them
1  doesn't have kids, but might want them
2                                     NaN
3                       doesn't want kids
4                                     NaN

In [ ]:
## HTML alıntılarını alıntı ile değiştirerek temizleriz
df['offspring'] = df['offspring'].str.replace('&rsquo;', '\'')
df[['offspring']].head()

                                offspring
0  doesn't have kids, but might want them
1  doesn't have kids, but might want them
2                                     NaN
3                       doesn't want kids
4                                     NaN

In [ ]:
## Analiz için son dataframe hazır!
df

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,...,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white",...,about me: i would love to think that i was so...,currently working as an international agent fo...,making people laugh. ranting about a good salt...,"the way i look. i am a six foot half asian, ha...","books: absurdistan, the republic, of mice and ...",food. water. cell phone. shelter.,duality and humorous things,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet! you are ti...
1,35,single,m,straight,average,mostly other,often,sometimes,working on space camp,white,...,i am a chef: this is what that means. 1. i am ...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,i am die hard christopher moore fan. i don't r...,delicious porkness in all of its glories. my b...,NaN,NaN,i am very open and will share just about anyth...,NaN
2,38,available,m,straight,thin,anything,socially,NaN,graduated from masters program,NaN,...,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,okay this is where the cultural matrix gets so...,movement conversation creation contemplation t...,NaN,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ..."
3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,white,...,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,"bataille, celine, beckett. . . lynch, jarmusch...",NaN,cats and german philosophy,NaN,NaN,you feel so inclined.
4,29,single,m,straight,athletic,NaN,socially,never,graduated from college/university,"asian, black, other",...,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at: http://bagsbrown....,i smile a lot and my inquisitive nature,"music: bands, rappers, musicians at the moment...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59941,59,single,f,straight,NaN,NaN,socially,never,graduated from college/university,NaN,...,"vibrant, expressive, caring optimist. i love b...",the happiest times have been when life came to...,i make an outstanding osso bucco. i am also ve...,"i am told that people notice my smile, eyes an...",i am an avid movie watcher and follow the broa...,"my family, my dog, italy, words and music!",writing my book.,"running with my dog, finishing up the work wee...",i have a dream to sing at the alconquin in nyc...,you are seeking a long term connection of shar...
59942,24,single,m,straight,fit,mostly anything,often,sometimes,working on college/university,"white, other",...,i'm nick. i never know what to write about mys...,currently finishing school for film production...,"filmmaking, photography, graphic design, web d...","dude, i don't know.","movies: hook (the greatest adventure ever!), g...",iphone contact lenses headphones camera tv rem...,i do most of my thinking on the bus to/from wo...,"bringin' home bacon, or drinking and shakin'!",when i was 18 i got a tattoo of waldo somewher...,meh if you made it this far you might as well.
59943,42,single,m,straight,average,mostly anything,not at all,never,graduated from masters program,asian,...,"hello! i enjoy traveling, watching movies, and...","i'm a civil engineer, who enjoys helping the c...",- looking at things objectively - getting thin...,i'm quiet until i get used to the environment ...,"last book: ""game change"". movies: bourne serie...",- iphone - friends and family - internet - bay...,"aside from work, how to improve my home.",out enjoying friendly conversation over dinner.,please let me think about this more.,we have similar interests.
59944,27,single,m,straight,athletic,mostly anything,socially,often,working on college/university,"asian, black",...,"""all i have in this world are my balls and my ...","following my dreams... ""you got a dream... you...",listening,it used to be the hair until i mowed it off bu...,where to begin musically: right now i listen t...,"music, family, friends, a basketball, hoop, so...",what can i do to make someone chuckle....,what i would do on any other day. everydays a ...,i like walking around in other people's house ...,you are interested and interesting...
59945,39,single,m,gay,average,NaN,socially,NaN,graduated from masters program,white,...,"is it odd that having a little ""enemy"" status ...",i work with elderly people (psychotherapy and ...,i'm a great bullshitter. i don't know what it ...,"either that i am funny/sarcastic, or that i am...","i just read the help by kathryn stockett, sooo...",1. family & friends & other humans - interacti...,"sex, myself, other people, how amazing everyth...","out at happy hour with my friends, running int...",i wish i could cry like holly hunter in broadc...,"if you have a back-bone, an opinion, a sense o..."

In [ ]:
cdf=df.iloc[:,21:].head()

In [ ]:
cdf

,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
0,about me: i would love to think that i was so...,currently working as an international agent fo...,making people laugh. ranting about a good salt...,"the way i look. i am a six foot half asian, ha...","books: absurdistan, the republic, of mice and ...",food. water. cell phone. shelter.,duality and humorous things,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet! you are ti...
1,i am a chef: this is what that means. 1. i am ...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,i am die hard christopher moore fan. i don't r...,delicious porkness in all of its glories. my b...,NaN,NaN,i am very open and will share just about anyth...,NaN
2,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,okay this is where the cultural matrix gets so...,movement conversation creation contemplation t...,NaN,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ..."
3,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,"bataille, celine, beckett. . . lynch, jarmusch...",NaN,cats and german philosophy,NaN,NaN,you feel so inclined.
4,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at: http://bagsbrown....,i smile a lot and my inquisitive nature,"music: bands, rappers, musicians at the moment...",NaN,NaN,NaN,NaN,NaN

In [ ]:
# Temizlenen yeni dataframe ile bir csv dosyası oluşturma
df.to_csv('new_df.csv')

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True